@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /*   all heading Work Sans */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
     font-family: var(--font-work-sans);
     font-weight: 600;
  }

  /*   all body text Source Sans Pro */
  body {
     font-family: var(--font-source-serif-pro);
     font-weight: 400;
     font-size: 1rem;
     /* background-color: #ea5a0c */
  }

  header{
    background-color: var(--fallback-b1,oklch(var(--b1)));
    width: 100vw;
  }
}

.card.image-full > .card-body{
  @apply absolute;
  /* background-color: rgba(58, 58, 58, 0.5); */
}
.card.image-full:before {
  @apply absolute inset-0 bg-gradient-to-t from-black/50 to-transparent rounded-xl ;
}

